In [ ]:
'''
Posibles hipotesis: 

country, activity, species involve, 

Most of the incidents in the Global Shark Attack File have nothing to do with predation on humans

A very small percentage of shark species, about two dozen, are considered potentially dangerous to humans
because of their size and dentition. Yet each year, for every human killed by a shark, 
our species slaughters millions of sharks - about 73 million sharks last year

Most of the incidents in the Global Shark Attack File have nothing to do with predation on humans. 
Some accidents are motivated by a displacement or territorial behavior when a shark feels threatened; 
still others are the result of the shark responding to sensory predatory input 
(i.e., overwhelmed by the presence of many fishes) and environmental conditions (murky water), 
which may cause them to respond in a reflexive response to stimuli. 
Sharks also exhibit curiosity and may investigate unknown or unfamiliar objects; 
they learn by exploring their environment, and - lacking hands - they use their mouths and teeth to examine unfamiliar objects. 

When a shark grabs a person by the hand/wrist and tows them along the surface, 
tosses a surfboard (or a Frisbee as in case 1968.08.24) it is probably "play behavior", not aggression. 
How can case GSAF 1971.04.11 which the swimmer was repeatedly bitten by a large shark and 
case 1985.01.04 in which the diver's injury necessitated a Band-aid be compared? It is akin to comparing a 
head-on high-speed vehicular collision with a shopping cart ding on the door of a parked car. Global Shark Attack File believes 
the only way to sort fact from hype is by forensic examination of each incident. 

--- Una de las hipotesis, las especies más dañinas
--- Hay más "accidentes" que ataques puros y duros

tips:

- Sacar con regular expressions el tipo de tiburones
- Me tengo que centrar en la columna type y en la columna Species también en injury y fatal
- 

'''

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('GSAF5.csv', encoding = "ISO-8859-1")

In [ ]:
# Operaciones genéricas para conocer los datos

In [5]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [7]:
data.shape

(5992, 24)

In [9]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [16]:
data["Year"]

0       2016
1       2016
2       2016
3       2016
4       2016
        ...
5987       0
5988       0
5989       0
5990       0
5991       0
Name: Year, Length: 5992, dtype: int64

In [ ]:
# Primera hipotésis 
# Ver qué tipo de valores contiene la columna type para analizar ante que tipo de sucesos

In [11]:
data["Type"]

0       Unprovoked
1       Unprovoked
2       Unprovoked
3       Unprovoked
4       Unprovoked
           ...
5987    Unprovoked
5988    Unprovoked
5989    Unprovoked
5990    Unprovoked
5991    Unprovoked
Name: Type, Length: 5992, dtype: object

In [22]:
type_attacks = data.groupby("Type")
type_attacks.describe()

                Year                                                   \
               count         mean         std     min     25%     50%
Type
Boat           200.0  1963.745000  200.649198     0.0  1962.0  1989.0
Boating        110.0  1927.945455   24.771186  1865.0  1923.0  1936.0
Invalid        519.0  1952.616570  131.377839     0.0  1931.5  1967.0
Provoked       557.0  1943.211849  222.047458     0.0  1949.0  1965.0
Sea Disaster   220.0  1890.800000  319.539403     0.0  1924.5  1944.0
Unprovoked    4386.0  1919.573643  310.809603     0.0  1944.0  1982.0

                              original order                                   \
                  75%     max          count         mean          std    min
Type
Boat          2006.25  2016.0          200.0  3650.385000  1393.716793   29.0
Boating       1946.00  1956.0          110.0  1250.554545   478.362605  314.0
Invalid       2003.00  2016.0          519.0  2837.283237  1733.515091   71.0
Provoked      2001.00  2016.0          557.0  2894.405745  1568.017245   33.0
Sea Disaster  1966.00  2014.0          220.0  1910.254545  1240.867821   31.0
Unprovoked    2004.00  2016.0         4386.0  3098.195394  1755.297468    2.0


                  25%     50%      75%     max
Type
Boat          2435.75  3530.0  4739.25  5988.0
Boating       1015.00  1342.0  1618.75  1968.0
Invalid       1228.00  2726.0  4432.00  5943.0
Provoked      1710.00  2576.0  4314.00  5970.0
Sea Disaster  1054.50  1571.0  2640.50  5749.0
Unprovoked    1577.25  3240.5  4589.50  5993.0

In [34]:
#Eliminar el espacio en el valor Sea Disaster

for e in data["Type"]:
    if e.startswith("Se"):
        e.split(":")

In [35]:
boat = []
boating = []
invalid = []
provoked = []
sea_disaster = []
unprovoked = []

for e in data["Type"]:
    if e == "Boat":
        boat.append(e)
    elif e == "Boating":
        boating.append(e)
    elif e == "Invalid":
        invalid.append(e)
    elif e == "Provoked":
        provoked.append(e)
    elif e == "Sea Disaster"
        sea_disaster.append(e)
    elif e == "Unprovoked"
        unprovoked.append(e)

SyntaxError: invalid syntax (<ipython-input-35-ed608a9e7623>, line 17)

In [ ]:
lista = []

for e in data["Type"]:
    if e == "boat" and e == "boating":
        continue
    elif e == "invalid" and e == "provoked":
        continue
    elif e == "unprovoked":
        continue
    else:
        lista.append(e)
    
print(lista)

In [15]:
print(len(lista))
print(len(lista1))

557
4386

In [24]:
# Eliminar el espacio en blanco de la columna Species
data["Species"] = data["Species "]

In [28]:
data["Species"]

0             NaN
1             NaN
2             NaN
3             NaN
4       2 m shark
          ...
5987          NaN
5988          NaN
5989          NaN
5990          NaN
5991          NaN
Name: Species, Length: 5992, dtype: object

In [29]:
sharks_species = data.groupby("Species")